.About{
    width: 80%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}
.Line{
  width: 65%;
  border-bottom: black solid 1px; 
  margin: 0 auto 3% auto;
}
.Bio,.Headshot{
    width: 40%; 
    margin: 0 auto;
}




@media only screen and (min-width: 800px){
    .About-detail{
        display: flex;
        justify-content: space-around;
        flex-direction: row !important;
    }
    .Bio{
    margin: 5% 0;
    }
    .Headshot{
        margin: 0;
    }

} 

.About-detail{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.Headshot{
    object-fit: scale-down;
    max-height: 400px;
}