.Article-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Content-Image{
   max-width: 500px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}
.Article-Content>div{
   width: 60%;
   margin: 0 auto;
}
