.WritingSamples{
    width: 80%;
    margin: 0 auto; 
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.Article{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.Description{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Photo{
    object-fit: cover;
    width: 100%;
}
.Article>div{
    width: 50%;
}

.DescriptionTitle,.DescriptionTitle:hover, .DescriptionTitle:visited{
    color: black;
    text-decoration: none;
}
.BlueLink, .BlueLink:hover, .BlueLink:visited{
    color: #36445D;
    text-decoration: underline;
}